services:
  db:
    image: ankane/pgvector:latest
    container_name: smartdocs-db

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - "5440:5432"

    volumes:
      - smartdocs_data:/var/lib/postgresql/data

volumes:
  smartdocs_data:
